@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/AdminDashboard">DASHBOARD</a>
            </li>
  
        }
        @if (User.IsInRole("User"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Resident/RequestCertificate">Request Certificate</a>
            </li>
        }

        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/">
                <button type="submit" class="btn btn-dark">LOGOUT</button>
            </form>
        </li>
    }
    else
    {
       
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">LOGIN</a>
        </li>
    }
</ul>
