@page
@model BrgyLink.Pages.ManageBlotterReports.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "_AdminLayout";
}

<h1>Create</h1>

<h4>Blotter</h4>
<hr />
<form method="post">
    <div class="form-group">
        <label for="Incident">Incident</label>
        <input type="text" class="form-control" id="Incident" name="Incident" required />
    </div>

    <div class="form-group">
        <label for="Complainant">Complainant</label>
        <input type="text" class="form-control" id="Complainant" name="Complainant" required />
    </div>

    <div class="form-group">
        <label for="Respondent">Respondent</label>
        <input type="text" class="form-control" id="Respondent" name="Respondent" required />
    </div>

    <div class="form-group">
        <label for="ActionTaken">Action Taken</label>
        <input type="text" class="form-control" id="ActionTaken" name="ActionTaken" />
    </div>

   @*  <div class="form-group">
        <label for="Status">Status</label>
        <select class="form-control" id="Status" name="Status">
            <option value="Pending">Pending</option>
            <option value="Resolved">Resolved</option>
        </select>
    </div> *@

    <button type="submit" class="btn btn-primary">Submit</button>
    </form>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
